<footer class="footer">

    <a href="https://www.youtube.com/@Leafbyte_Interactive" target="_blank">
         <i class="fa-brands fa-youtube"></i>
    </a>

    <a href="https://leafbyte-interactive.itch.io/" target="_blank">
         <i class="fa-brands fa-itch-io"></i>
    </a>

    <a href="https://gamejolt.com/@Leafbyte-Interactive" target="_blank">
         <i class="fa-solid fa-bolt-lightning"></i>
    </a>

    <a href="https://bsky.app/profile/lb-interactive.bsky.social" target="_blank">
         <i class="fa-brands fa-bluesky"></i>
    </a>

    <a href="https://x.com/LB_Interactive" target="_blank">
         <i class="fa-brands fa-x-twitter"></i>
    </a>

    <a href="https://discord.gg/GhDzfU6CRC" target="_blank">
         <i class="fa-brands fa-discord"></i>
    </a>

    <a href="mailto:leafbyte.studios@gmail.com" target="_blank">
         <i class="fa-solid fa-envelope"></i>
    </a>


    <p>
        © 2026 Leafbyte Interactive
    </p>

</footer>
